<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo Scraper</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <script type="text/javascript" src="../public/javascript/home.js"></script>
    <script type="text/javascript" src="../public/javascript/saved.js"></script>
</head>

<body>
    <div class="container">

        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand">Mongo Scraper for the New York Times</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#" onclick="displaySaved()">SAVED ARTICLES</a></li>
                    <button data-target="scrape-article" class="btn waves-effect waves-light black modal-trigger" onclick="displayScrape()">SCRAPE ARTICLES</button>

                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col s12 m4" id="nyt-0">
            </div>
            <div class="col s12 m4" id="nyt-1">
            </div>
            <div class="col s12 m4" id="nyt-2">
            </div>
        </div>

        <div id="scrape-article" class="modal">
            <div class="modal-content">
                <h4>Number of Articles Scrapped</h4>
                <h4 id="total-number"></h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>

    </div>

    <div id="scrape-article" class="modal">
        <div class="modal-content">
            <h4>Number of Articles Scrapped</h4>
            <h4 id="total-number"></h4>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn">Close</a>
        </div>
    </div>

</body>
</html>